/*
    font-family: 'Roboto', sans-serif;
    font-family: 'Playfair Display', serif;
     font-family: 'Inknut Antiqua', cursive;
*/

body {
    background-color: #F2F2F2;
}

header nav {
    max-width:980px;
    min-height: 78px;
    margin: auto;
}

.navbar-collapse {
    justify-content: flex-end;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: transparent!important;
    top: 30px;
    border:none;
    left: -80px;
    text-align: right;
}

.dropdown-item {
    font-size: 13.5px;
    color: #a0a09f!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.dropdown-item:hover {
    background-color: transparent;
}

.navbar-brand {
    font-size: 18.5px;
    color: #3f3f3f!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.navbar-collapse ul:first-child .nav-link {
    font-size: 13.5px;
    color: #a0a09f!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 15px;
}

.navbar-collapse ul:first-child .active .nav-link {
    color: #3f3f3f!important;
}

.navbar-collapse ul:first-child {
    margin-right: 40px;
}

.fab {
    color: black;
    font-size: 17px;
}

main {
    max-width: 980px;
    margin: auto;
    position: relative;
}

.banner-area {
    display: flex;
    justify-content: space-between;
}

.banner-area .left,.right {
    width: 50%;
}

.banner-area .carousel-inner img {
    max-height: 456px;
    width: 100%;
    object-fit: cover;
}

.banner-area .right {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-area .right a {
    width: 109px;
    text-decoration: underline;
    color: #3f3f3f!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1.9px;
    font-size: 15px;
}

.banner-area .right h2 {
    color: #2c2c2c!important;
    font-size: 26px;
    width:324px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin-top:20px;
}

.carousel-control-prev,.carousel-control-next {
    opacity: 1;
}

.cards-area {
    margin-top: 100px;
    display: flex;
    margin-bottom: 40px;
}

.cards-area .card {
    width:326px;
    height: 400px;
    border:none;
    position: relative;
}

.cards-area .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:0px;
}

.cards-area .card-body {
    width: 290px;
    height: 149px;
    background-color: white;
    position: absolute;
    top: -40px;
    left:0px;
    right: 0px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards-area .card-title {
    text-decoration: underline;
    color: #3f3f3f!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1.9px;
    font-size: 15px;
}

.cards-area .card-text {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.card-area{
    display: flex;
    justify-content: space-between
}
.card-area .left{
    width: 66.5%;
}
.card-area .left .card{
    width: 100%;
    background-color: white;
    margin-bottom: 33px;
    border: none;
    border-radius: 0px;
}
.card-area .left a img{
    max-width: 652px;
    width: 100%;
    object-fit: cover;
}
.card-area .left .card .update{
    display: flex;
}
.card-area .left .card .update .pointer{
    width: 4px;
    height: 1px;
    background-color: #2f2e2e;
}
.card-area .left .card .update div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;
}
.card-area .left .card .update div ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    margin-top: 5px;
    align-items: center;
}
.card-area .left .card .update div ul li{
    font-size: 11px;
    color: #2f2e2e;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
}
.card-area .left .card .update div ul .middle{
    width: 2px;
    height: 2px;
    background-color: #2f2e2e;
    margin: 0px 8px;
}
.card-area .left .card .update{
    padding: 28px 24px 0px;
}
.card-area .left .card .card-body{
    padding: 0px 24px 0px;
}
.card-area .left .card .views{
    padding: 10px 24px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-area .left .card .views article{
    display: flex;
}
.card-area .left .card .card-body a{
    text-decoration: none;
}
.card-area .left .card .card-body a h5{
    font-size: 26px;
    color: #2f2e2e;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    opacity: 0.9;
    margin-bottom: 15px;
    margin-top: 19px;
}
.card-area .left .card .card-body a p{
    font-size: 13.5px;
    color: #2f2e2e;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
    padding-bottom: 19px;
    border-bottom: 1px solid rgb(210, 210, 210);
}
.card-area .left .card .views article p{
    margin: 0px;
    margin-left: 6px;
    font-size: 12px;
    color: #2f2e2e;
    opacity: 0.7;
}
.card-area .left .card .views article a{
    display: flex;
    margin-left: 20px;
    text-decoration: none;
}
.card-area .left .card .views svg{
    opacity: 0.7;
}
.card-area .left .card .views svg:last-child{
    stroke: #e84a43;
    stroke-width: 1.5px;
    fill: transparent;
    opacity: 1;
}
.card-area .left .card .card-body a:hover > .card-title{
    color: rgb(223, 194, 35);
    text-decoration: none;
}
.card-area .left .card .card-body a:hover > p{
    color: rgb(223, 194, 35);
}

.card-area .left .card .views article a svg:hover {
    fill: rgb(223, 194, 35);
}
.card-area .left .card .views article a svg:hover + p{
    color: rgb(223, 194, 35);
}
.card-area .left .card .views article a p:hover{
    color: rgb(223, 194, 35);
}
.card-area .left button{
    width: 142px;
    height: 40px;
    background-color: #2f2e2e;
    color: white;
    border: none;
    font-size: 12px;
    font-family: 'Inknut Antiqua', cursive;
    margin-bottom: 20px;
    margin-top: 20px;
}
.card-area .left button:hover{
    background-color: transparent;
    color: #2f2e2e;
    transition: 0.3s;
}
.card-area .right{
    width: 310px;
}
.card-area .right .girl{
    object-fit: cover;
    width: 100%;
    margin-bottom: 25px;
}
.card-area .right .card{
    padding: 45px 25px;
    margin-bottom: 70px;
}
.card-area .right .card h2{
    font-size: 26px;
    color: #2f2e2e;
    width: 100%;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-bottom: 20px;
}
.card-area .right .card p{
    font-size: 13.5px;
    color: #2f2e2e;
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}
.card-area .right .card h3{
    font-size: 15px;
    color: #2f2e2e;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.card-area .right .card input{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    padding: 3px 3px 3px 21px;
    height: 39px;
}
.card-area .right .card input:hover{
    border-bottom: 3px solid black;
}
.card-area .right .card input::placeholder{
    color: #2f2e2e;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    opacity: 0.8;
}
.card-area .right .card button{
    width: 100%;
    height: 39px;
    background-color: #2f2e2e;
    border: none;
    color: white;
    font-size: 12px;
    font-family: 'Inknut Antiqua', cursive;
}
.card-area .right .card button:hover{
    color: #2f2e2e;
    background-color: rgb(240, 240, 240);
    transition: 0.3s;
}
.card-area .right h4{
    font-size: 18px;
    text-align: center;
    width: 100%;
    color: #2f2e2e;
    margin-bottom: 15px;
    letter-spacing: 0.1em;
    font-family: 'Roboto', sans-serif;
}
.card-area .right h4 a{
    text-decoration: none;
    color: #2f2e2e;
    font-family: 'Roboto', sans-serif;
}
.card-area .right .next {
    width: 36px!important;
    height: 36px!important;
    position: absolute;
    top: 137px;
    right: 0px;
    background-color: #e7e5e5;
    z-index: 0;
}
.card-area .right .prev{
    width: 36px!important;
    height: 36px!important;
    position: absolute;
    top: 137px;
    left: 0px;
    background-color: #e7e5e5;
    z-index: 0;
}
.card-area .right .carousel-control-next{
    width: 10%;
    height: 36px!important;
    position: absolute;
    top: 137px;
    opacity: 0;
    z-index: 12;
}
.card-area .right .carousel-control-prev{
    width: 10%;
    height: 36px!important;
    position: absolute;
    top: 137px;
    opacity: 0;
    z-index: 12;
}
.card-area .right .carousel-fade:hover .wix{ 
   opacity: 1;
}
.card-area .right .carousel-fade:hover img{
    opacity: 0.7;
    transition: 0.3s;
}
.card-area .right .carousel-fade:hover .carousel-control-prev{
    opacity: 1;
}
.card-area .right .carousel-fade:hover .carousel-control-next{
    opacity: 1;
}
.card-area .right .carousel-fade:hover .prev{
    z-index: 11;
}
.card-area .right .carousel-fade:hover .next{
    z-index: 11;
}
.card-area .right .active-inner{
    background-color: black;
    z-index: 3;
}
.card-area .right .active-inner img{
    opacity: 1;
}

.card-area .right .carousel-fade{
    position: relative;
}
.card-area .right .wix{
    width: 250px;
    height: 64px;
    position: absolute;
    right: 0px;
    left: 0px;
    margin: auto;
    top: 123px;
    text-align: center;
    letter-spacing: 0px;
    line-height: 32px;
    font-size: 14px;
    color: white;  
    text-decoration: none;
    z-index: 7;
    opacity: 0;
    
}
.card-area .right .wix:hover{
    opacity: 1;
}
main .arrow{
    position: absolute;
    bottom: -50px;
    left: 10px;
    transform: rotate(-90deg);
    z-index: 6;
}
main .arrow:hover{
    opacity: 0;
}
main .arrow-gif{
    position: absolute;
    bottom: -50px;
    left: 10px;
    transform: rotate(-90deg);
    width: 34px;
    height: 34px;
}
footer{
    margin-top: 70px;
    background-color: #E9E9E9;
}
footer nav p{
    margin: 0px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #2f2e2e;
}
footer nav p a{
    text-decoration: none;
    color: #2f2e2e;
}
footer nav p a:last-child{
    text-decoration: underline;
}
footer nav p a:hover{
    text-decoration: none;
    color: #2f2e2e;
}
footer nav p a:last-child:hover{
    text-decoration: underline;
}
.footer-nav{
    padding-top: 0px;
    padding-bottom: 10px;
    max-width: 980px;
    margin: auto;
    min-height: 63px;
}
footer .navbar-collapse ul:first-child {
    margin-right: 20px;
}
footer .dropdown-menu {
    background-color: transparent!important;
    top: -90px;
    border:none;
    left: 0px;
    text-align: left;
}